    .display_flex{
        display: flex;
    }
    .task_input{
        padding: 30px 30px!important;
        font-size: 30px!important;
        border-radius: 0px!important;
        border-color: #353B84!important;
        background-color: #F2F3F4!important;
    }
    .col-form-label{
        font-size: 16px!important;
    }
    .input{
        background-color: #F2F3F4!important;
        border-radius: 0px!important;
        border-color: #353B84;
    }
    .input_hightlight{
        border-radius: 0px!important;
        border-color: #353B84!important;
    }
    .text-muted{
        color: red!important;
    }
    .highlight{
        background-color: #F2F3F4!important;
    }
    .lable_highlight{
        color: #353B84!important;
    }
    .lable_highlight_margin_null{
        margin-bottom: 0px!important;
    }
    .plus_minus_button{
        padding: 9px 14px;
        font-size: 12px;
        border: 1px solid #353B84!important;
        color: #464e5f!important;
    }
    .checkbox_top_margin{
        margin-top: 10px!important;
    }
    .highlight_margin_top{
        margin-top: 32px;
    }
    #extra_vat_error, #extra_description_error, #extra_net_price_error{
        color: red!important;
        display: none;
        font-size: 13px !important;
    }
    .fa_style{
        margin-right: 5px!important;
    }

    @media only screen and (max-width: 425px) {
        .btn-m{
            margin-top: 12px !important;
        }
    }
    @media only screen and (max-width: 768px) {
        .btn-m{
            margin-top: 12px !important;
        }
    }
    .checkbox_mt{
        margin-top: 2px !important;
    }

    .displayNone{
        display: : none !important;
    }

    .radio span{
        border: 1px black solid;
    }